.skills{
    height: 100%;
    padding: 1rem 0rem 1rem 1rem;
    margin: 1rem;
    border: 0.2rem solid white;
    background-color: white;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: space-around;
    color: black;
}    
.skill-blocks{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.skill-left{
    width: 70%;
    display: flex;
    flex-direction: column;
}
.skill-right{
    display: flex;
    text-align: center;
    width: 30%;
    border-radius: 0.5rem 0rem;
    background-color: black;
    color: white;
    padding: 1rem;
}
.hrclass{
    width: 95%;
    background-color: white;
}
