.profile-outer{
  background-color: #26004d;
  color: white;
  display: flex;
  text-align: center;
  align-items: center;
  border-radius: 0.5rem;
  width: 70vw;
  margin-left: 13rem;
  box-shadow: 0px 0px 30px black;
  justify-content: space-between;
}
.profile-inner-left{
  margin-left: 11%;
  width: 420px;
  border: 0.2rem solid white;
  background-color: #150328;
}
.profile-inner-right{
  margin: 2rem;
  margin-right: 12%;
  border: 0.2rem solid white;
  border-radius: 2rem;
}
.profile-inner-right img{
  width: 20vw;
  height: 60vh;
  border-radius: 2rem;
  border: 0.5rem solid black;
}
.profile-inner-right img:hover{
  transform: scale(1.03);
  transition: 0.5s ease-out;
}
.profile-name{
  font-size: x-large;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.profile-name span{
  color:burlywood;
  text-decoration: underline;
}
.profile-skill-heading{
  color: orangered;
  font-family: italic;
  font-size: xx-large;
}
.profile-brief h3{
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.profile-brief span{
  font-size: medium;
  font-family:'Times New Roman', Times, serif;
}
.profile-brief{
  margin-bottom: 1rem;
}
.profile-contact button{
  margin: 0.5rem;
  border-radius: 0.8rem;
  color: black;
  background-color: bisque;
  font-weight: bold;
}
.profile-contact button:hover{
  transform: scale(1.08);
  transition: 1s ease-out;
}