.button{
    display:flex;
    justify-content: center;
}
.button button{
    margin: 0.5rem;     
    border-radius: 0.8rem;
    color: black;
    background-color: bisque;
    font-weight: bold;
  }
  .button button:hover{
    transform: scale(1.2);
  }