.resume{
    width: 70vw;
    height: 70vh;
    padding: 2rem;
    background-color: #161b22;
    border-radius: 0.5rem;
    box-shadow: 0px 0px 30px black;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}
.resume-left{
    /* border: 0.2rem solid white; */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    background-color: #161b22;
    width: 25%;
    margin: 1rem 0rem 1rem 0rem;
    padding: 1rem 0rem 1rem 0rem;
    font-size: x-large;
    /* overflow: hidden; */
}
.resume-left span{
    width: 100%;
    font-weight: 400;
    color: beige;
}
.icon1{
    margin: 0rem 0.5rem;
}
.label{
    color: white;
    padding: 0.5rem 0rem;
}
.icon1:hover{
    color: black;
}
.label:hover{
    color: black;
    background-color: white;
}
.resume-right{
    background-color: black;
    width: 75%;
    border-radius: 1rem;
    /* margin: 1rem; */
    padding: 1rem;
    display: flex;
    /* align-items: center; */
    flex-direction: column;
    justify-content: space-around;
    scroll-behavior: smooth; 
}
.education{
    height: 100%;
    padding: 1rem;
    border: 0.2rem solid white;
    background-color: black;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    color: black;
}
.res-top,.res-mid,.res-bottom{
    border-radius: 0.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    /* overflow: hidden; */
}
.res-left{
    margin-left: 2rem;
    padding: 1rem;
    height: 100%;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center; 
}
.res-right{
    margin-right: 2rem;
    padding: 0rem 1rem;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 5rem;
    background-color: black;
    color: white;
}
h4{
    margin-top: 0.1rem;
    margin-bottom: 0.1rem;
}
hr{
    width: 95%;
    background-color: white;
}
@media(max-width:1368px)
{
    .resume{
        font-size: 80%;
    }
}