.resume{
    width: 70vw;
    height: 70vh;
    padding: 2rem;
    background-color: #161b22;
    border-radius: 0.5rem;
    box-shadow: 0px 0px 30px black;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}
.resume-left{
    /* border: 0.2rem solid white; */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    background-color: #161b22;
    width: 25%;
    margin: 1rem 0rem 1rem 0rem;
    padding: 1rem 0rem 1rem 0rem;
    font-size: x-large;
    /* overflow: hidden; */
}
.resume-left span{
    width: 100%;
    font-weight: 400;
    color: beige;
}
.icon1{
    margin: 0rem 0.5rem;
}
.label{
    color: white;
    padding: 0.5rem 0rem;
}
.icon1:hover{
    color: black;
}
.label:hover{
    color: black;
    background-color: white;
    cursor: pointer;
}
.resume-right{
    /* position: relative; */
    background-color: black;
    width: 75%;
    border-radius: 1rem;
    /* padding: 1rem; */
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    scroll-behavior: smooth; 
}

