.navbar{
    background-color: #26004d;
    color: white;
    display: flex;
    margin: 0.5rem;
    padding: 2rem;
    justify-content: space-around;
    border-radius: 0.5rem;
    width: 85vw;
    margin-left: 4.5rem;
    box-shadow: 10px 10px grey;
    height: 70px;
}
.navbar div{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.navbar-left{
    margin: 1rem;
    border-radius: 0.2rem solid white;
}
.navbar-left img{
    border: 0.2rem solid black;
    height: 5rem;
    border-radius: 1rem;
}
.navbar-right{
    width: 70%;
    display: inline-flex;
    border: 0.2rem solid white;
    background-color: #130933;
}
.navbar-right a{
    margin: 0rem 2rem;
}
.navbar-right p{
    margin-right: 2rem;
    text-decoration: underline;
    font-size: x-large;
    color: white;
}
.navbar-right p:hover{
    color: tomato;
}

