 .navbar{
    margin: 0rem;
    background-color: #161b22;
    color: white;
    display: flex;
    flex-direction: row;
    padding: 2rem 0rem 2rem 0rem;
    align-items: center;
    justify-content: space-around;
    /* border-radius: 0.5rem; */
    width: 100%;
    box-shadow: 0px 10px 10px grey;
    height: 7vh;
}
.navbar-left{
    border-radius: 0.2rem solid white;
    height: 100%;
}
.navbar-left img{
    border: 0.2rem solid white;
    width: 100%;
    height: 100%;
    border-radius: 1rem;
}
.navbar-right{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.navbar-right a{
    margin: 0rem 2rem;
    text-decoration: none;
    font-size: x-large;
    color: white;
}
.navbar-right a:hover{
    color: orangered;
    padding-bottom: 1rem;
    text-decoration: 0.3rem underline;
    transition: 0.5s ease;
    cursor: pointer;
}
