.footer{
    width: 98vw;
    height: 40vh;
    background-color: #26004d;
    margin-left: 0.5%;
    margin-top: 1rem;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
}
.footer-in{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
}
.top-text p{
    font-size: x-large;
    color: white;
    text-decoration: underline;
}
.mid-text{
    font-size: large;
}
.bottom-text p{
    color: white;
    font-size: medium;
}
.bottom-text span{
    color: orangered;
}
