.footer{
    width: 100%;    
    background-color: #161b22;
    margin-top: 2rem;
    /* border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem; */
}
.footer-in{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;    
    justify-content: space-around;
}
.top-text p{
    font-size: x-large;
    color: white;
    text-decoration: none;
}
.mid-text{
    font-size: x-large;
}
.bottom-text p{
    color: white;
    font-size: medium;
}
.bottom-text span{
    color: brown;
    font-size: large;
}
