.contact{
    background-color: #161b22;
    padding: 1rem 2rem;
    width: 70vw;
    border-radius: 0.5rem;
    box-shadow: 0px 0px 30px black;
    height: 70vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}
.contact-left{  
    width: 50%;
    height: 80%;
    /* margin-right: 1rem; */
    background-color: #161b22;
    /* border: 0.2rem solid white; */
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: space-around;
    /* overflow: hidden; */
    border-radius: 0.5rem;
    font-size: large;
    color: beige;
}
.contact-touch{
    margin-top: 0rem;
    font-size: x-large;
    font-weight: bold;
}
.contact-image{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20vh;
    width: 80%;
}
.contact-image img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    /* border: 0.2rem solid white; */
}
.contact-right{
    background-color:bisque;
    /* margin-left: 1rem; */
    width: 50%;
    height: 80%;
    /* border: 0.2rem solid white; */
    overflow: hidden;
    padding-left: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border-radius: 0.5rem;
} 
.name{
    margin-top: 1rem;
}
.name,.email,.message{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.contact-right span{
    font-size: large;
    margin-left: 1rem;
    background-color: #000000;
    color: white;
    padding: 0.5rem;
    border-radius: 0.5rem;
}
.contact-right input{
    width: 15vw;
    height: 1.5rem;
    border-radius: 0.5rem;
    color: black;
}
.contact-click,.contact-button{
    display: flex;
    align-items: center;
    justify-content: center;
}
.contact-click p{
    font-size: large;
    font-weight: 400;
}
.contact-right textarea{
    width: 13vw;
    height: 3rem;
    border-radius: 0.5rem;
    color: black;
}
.contact-right button{
    background-color: #161b22;
    color: white;
    padding: 0.5rem;
    border-radius: 0.5rem;
    font-size: medium;
    font-weight: bold;
}
.contact-right span{
    margin-left: 0.4rem;
}
.contact-button{
    margin-bottom: 1rem;
}