.aboutme{
    background-color: #26004d;
    width: 60vw;
    margin-left: 18.5%;
    border-radius: 0.5rem;
    display: flex;
    color: beige;
    box-shadow: 0px 0px 30px black;
    justify-content: center;
}
.aboutme-image{
    /* width: 40%; */
    margin: 2rem;
    margin-right: 2rem;
    border: 0.2rem solid white;
    text-align: center;
    
}    
.aboutme-image img{
    height: 80vh;
    border: 0.5rem solid black;
}
.aboutme-text{
    width: 60%;
    background-color: #150328;
    padding: 1rem;
    margin: 2rem;
    margin-left: 2rem;
    border: 0.2rem solid white;
}
.aboutme-skills ul{
    color: orange;
}