.aboutme{
    background-color: #26004d;
    width: 60%;
    margin-left: 19%;
    border-radius: 0.5rem;
    display: flex;
    color: beige;
    box-shadow: 0px 0px 30px black;
}
.aboutme-image{
    width: 30%;
    margin: 2rem;
}    
.aboutme-image img{
    height: 600px;
}
.aboutme-text{
    margin: 2rem;
}
.aboutme-skills ul{
    color: orange;
}